<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OCLP-Mod</key>
	<string>v3.0.0</string>
	<key>PatcherSupportPkg</key>
	<string>v1.9.8</string>
	<key>Time Patched</key>
	<string>August 08, 2025 @ 22:14:47</string>
	<key>Commit URL</key>
	<string></string>
	<key>Kernel Debug Kit Used</key>
	<string>Not applicable</string>
	<key>Metal Library Used</key>
	<string>Not applicable</string>
	<key>OS Version</key>
	<string>25.0 (25A5327h)</string>
	<key>Custom Signature</key>
	<false/>
	<key>音频补丁</key>
	<dict>
		<key>Merge System Volume</key>
		<dict>
			<key>/System/Library/Extensions</key>
			<dict/>
			<key>/Library/Extensions</key>
			<dict>
				<key>AppleHDA.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOACPIFamily.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOAudio2Family.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOAudioFamily.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOPAudioAssetManagerDevice.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOPAudioClientManagerDevice.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOPAudioDriverFamily.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOPAudioHapticsLEAPControlDevice.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOPAudioIOBufferDevice.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOPAudioIsolatedIOBufferDevice.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOPAudioLEAPControlDevice.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOPAudioLPMicDevice.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOPAudioPCMAssetManagerDevice.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOPAudioRemoteIICController.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOPAudioVoiceTriggerDevice.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOPCIFamily.kext</key>
				<string>26.0 Beta 1</string>
				<key>IOPlatformPluginFamily.kext</key>
				<string>26.0 Beta 1</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
